

li{
    list-style: none;
    padding-right: 100px;
}

.logo{
    font-size: 2rem;
    font-weight: 500;
    color: white;
    padding-left: 1.5rem;
    font-family: 'fangsong', sans-serif;
}

.headerText{
    font-weight: 400;
    margin-left: 2.5rem;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
}

.frameOneTextBlock{
    padding-top: 25rem;
   padding-left:35vw;

}

.frameOneText{
    color: white;
    font-family: 'Poppins', sans-serif;
}


.frame1{
    width: 98vw;
    height: 52rem;
    background-image: url("image/firstFramebg.png");
    background-size: cover;
}



