.frame5 {
    width: 98vw;
    height: 40rem;
    background-image: url("image/frameFiveBg.png");
    background-size: cover;
}

.frameFiveTextBlock{
    color: white;
    font-family: 'Poppins', sans-serif;
    display: block;
    padding-top: 44vh;
}

.frameFiveText{
    padding-right: 5rem;
    padding-top: 0.5rem;
    display: flex;
    justify-content: flex-end;
}

.lineFivePadding{
    padding-top: 5rem;
}
