.halfScreen{

}

.firstHalf{
    width: 44.5vw;
    height: 50rem;
    background-color: black;
    display: inline;

}

.secondHalf{
    width: 44.5vw;
    height: 50rem;
    background-image: url("image/frameFourBg.png");
    background-size: cover;
    padding-left: 55.5rem;
    position: sticky;
    display: inline;
}