

.frameTwoText{
    padding-right: 10rem;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.frameTwoTextBlock{
    padding-left: 40rem;
}

.frame2{
    width: 98vw;
    height: 70rem;
    background-color: black;
    display: flex;
    justify-content: center;
    overflow: hidden;
    color: white;
    font-family: 'Poppins', sans-serif;
}


