
html{
    font-size: 18px;
}

*{
    text-decoration: none;
}

.btn{
    background-color: white;
    margin-left: 0.5rem;
    border-radius: 12px;
    padding: 0.5rem;
    width: 150px;
    font-family:  'Poppins', sans-serif;
}

.middleText{
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 2px;
}

.mainText{
    font-weight: 400;
    font-size: 3rem;
}

.smallText{
    font-size: 0.8rem;
    font-weight: 200;
}

.miniSVG{
    padding-left: 0.5rem;
}
.miniInfoLine{
    padding-left: 82rem;

}

.frameTextBlock{
    color: white;
    font-family: 'Poppins', sans-serif;
    display: block;
    padding-top: 44vh;
+}

.frameText{
    padding-right: 5rem;
    padding-top: 0.5rem;
    display: flex;
    justify-content: flex-end;
}

.linePadding{
    padding-top: 5rem;
+}